.section {
  padding: 30px 20px;
}
.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}
.text {
  font-size: 14px;
  color: var(--main-color);
}
.block:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 60px 120px;
  }
  .title {
    margin-bottom: 40px;
  }
}
