.footer {
  position: relative;
  /* width: 100%; */
  padding: 30px 20px;
  background-color: var(--main-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.container:first-child {
  border-bottom: 0.5px solid var(--third-color);
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.container:last-child {
  padding-top: 20px;
}
.title {
  font-size: 12px;
  font-weight: 500;
  color: var(--second-color);
  margin-bottom: 10px;
}
.socialList {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  padding: 20px 0;
  justify-content: space-around;
  border-bottom: 0.5px solid var(--third-color);
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 500;
  color: var(--second-color);
  background-color: var(--main-color);
  font-size: 12px;
}

.link:hover {
  background-color: var(--second-color);
  color: var(--main-color);
  border-radius: 5px;
}

.activeLink {
  composes: link;
  background-color: var(--second-color);
  color: var(--main-color);
  border-radius: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  fill: #fff;
}
.twitterIcon {
  composes: icon;
}
.twitterIcon:hover {
  fill: #00acee;
  transition: transform 0.3s;
  transform: scale(1.15);
}

.instagramHoverIcon {
  composes: icon;
  transition: transform 0.3s;
  transform: scale(1.15);
}

.appstoreIcon {
  width: 150px;
  height: 43px;
}
.appstoreIcon:hover {
  transition: transform 0.5s;
  transform: scale(1.05);
}

.block {
  overflow: hidden;
  border-radius: 10px;
  width: 60px;
}
.block:hover {
  transition: transform 0.5s;
  transform: scale(1.1);
}
.addressBlock {
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}
.address {
  font-style: normal;
  font-size: 8px;
  color: var(--second-color);
  font-weight: 500;
}
.address:not(:last-child) {
  margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
  .appstoreIcon {
    width: 200px;
    height: 58px;
  }
  .footer {
    padding: 30px 120px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
