.main {
  padding-top: 60px;
  width: 100%;
}
.title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}
.centralBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  border-radius: 20px;
}
.icon {
  margin: 20px 0;
  width: 60px;
  height: 60px;
  fill: var(--second-accent-color);
}

.arrowsIcon {
  fill: currentColor;
}
.game {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
  padding: 10px 15px;
}
.gameSwipe {
  composes: game;
}
.game:hover {
  padding: 10px 15px;
  background-color: var(--main-color);
  color: var(--second-color);
  border-radius: 10px;
}
.gameSwipe:hover {
  padding: 10px 15px;
  background-color: var(--accent-color);
  color: var(--second-color);
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 20px;
    margin-top: 40px;
  }
  .container {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .imageBlock {
    width: 390px;
    height: 390px;
  }
}

@media screen and (max-width: 767px) {
  .game {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .game {
    width: 150px;
    text-align: center;
  }
}
